*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #3C3C3C;
}

/*sprogvalg*/
.toogle {
    display: flex;
    justify-content: flex-end;
    padding: 1em 1.5em 1em 1.5em; /*top right bottom left*/
    background-color: #F3F4EF;
}

/*styling af navigation og ikoner*/
nav{
    background-color: #779882;
    width: 100%;
    padding: 1em 1.5em 1em 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
i {
    font-size: 4em;
    color: #152626;
}
.logo{
    justify-self: start;
}
.menu{
    justify-self: end;
}

/*styling på teksten under banner*/
.top{
    background-color: #779882;
    padding-bottom: 1.5em;
}
h1{
    color: #F3F4EF;
    font-size: 3.2em;
    text-align: center;
    margin: 0.5em 0em 0.2em 0em;
}
.top h2 {
    color: #F3F4EF;
    font-size: 2.2em;
    font-weight: normal;
    text-align: center;
}
.banner{
    width: 100%;
    height: 580px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: auto;
    transform: translateY(-10%); /*ledte efter det på nettet, enten zoomede det ind med object-position eller så gjorde det ingenting som på mockuppen https://www.w3schools.com/cssref/css3_pr_transform.php*/
}

/*styling af sektion 1*/
.fk{
    background-color: #F3F4EF;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2em 3em 4em 3.5em;
}
h2{
    font-size: 3em;
    color: #3C3C3C;
}
.fk h3{
    font-size: 2.8em;
    color: #F3F4EF;

}
.fællesskab p{
    font-size: 1.8em;
    color: #3C3C3C;
    padding: 2em 3em 0em 0em;
}
.kontakt {
    background-color: #425348;
    border-radius: 5em;
    padding: 3.8em;
    margin: 4em 3em 2em 0em;
    width: 35em;
    height: 40em;
    text-align: center;
}
/*fjerner tekst ude for input så de kun står indvendigt*/
.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*styling af input i kontaktformular*/
input{
    display: block;
    font-size: 1.5em;
    width: 80%;
    border-radius: 1em;
    margin: 1.5em 1.5em 1.5em 1.5em;
    padding: 1em;
    border:none;
}
input[type=text], input[type=mail]{
    color: #3C3C3C;
}
input[type=submit]{
    background-color: #779882;
    color: #F3F4EF;
    cursor: pointer;
}

/*styling af sektion 2, under kontaktformularen*/
.section2{
    padding: 3em 3em 4em 3.5em;
    display: block;
}
.section2 h2{
    font-size: 3em;
    text-align: center;
}
.section2 p{
    font-size: 1.8em;
    color: #3C3C3C;
    padding: 2em 2.8em 0em 2.8em;
}
.knap{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
}
.section2 a{
    color: #F3F4EF;
    font-size: 1.8em;
    font-weight: bold;
    background-color: #779882;
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
}

/*Footer*/
footer{
    background-color: #425348;
    width: 100%;
    min-height: 14em;
}
.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.links a{
    color: #F3F4EF;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
    padding-top: 1em;
}