*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #3C3C3C;
}
h1{
    color: #F3F4EF;
    font-size: 3.2em;
    text-align: center;
    margin: 0.5em 0em 0.2em 0em;
}
.top h2 {
    color: #F3F4EF;
    font-size: 2.2em;
    font-weight: normal;
    text-align: center;
}

.toogle {
    display: flex;
    justify-content: flex-end;
    padding: 1em 1.5em 1em 1.5em; /*top right bottom left*/
    background-color: #F3F4EF;
}


nav{
    background-color: #779882;
    width: 100%;
    padding: 1em 1.5em 1em 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

i {
    font-size: 4em;
    color: #152626;
}

.logo{
    justify-self: start;
}
.menu{
    justify-self: end;
}

.top{
    background-color: #779882;
    padding-bottom: 1.5em;
}
.banner{
    width: 100%;
    height: 580px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: auto;
    transform: translateY(-10%); /*ledte efter det på nettet, enten zoomede det ind med object-position eller så gjorde det ingenting som på mockuppen https://www.w3schools.com/cssref/css3_pr_transform.php*/
}
