*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #3C3C3C;
}
h1{
    color: #F3F4EF;
    font-size: 3.2em;
    text-align: center;
    margin: 0.5em 0em 0.2em 0em;
}
.top h2 {
    color: #F3F4EF;
    font-size: 2.2em;
    font-weight: normal;
    text-align: center;
}

.toogle {
    display: flex;
    justify-content: flex-end;
    padding: 1em 1.5em 1em 1.5em; /*top right bottom left*/
    background-color: #F3F4EF;
}


nav{
    background-color: #779882;
    width: 100%;
    padding: 1em 1.5em 1em 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

i {
    font-size: 4em;
    color: #152626;
}

.logo{
    justify-self: start;
}
.menu{
    justify-self: end;
}

.top{
    background-color: #779882;
    padding-bottom: 1.5em;
}
.banner{
    width: 100%;
    height: 580px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: auto;
    transform: translateY(-10%); /*ledte efter det på nettet, enten zoomede det ind med object-position eller så gjorde det ingenting som på mockuppen https://www.w3schools.com/cssref/css3_pr_transform.php*/
}

.fk{
    background-color: #F3F4EF;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2em 3em 4em 3.5em;
}
h2{
    font-size: 3em;
    color: #3C3C3C;
}

.fk h3{
    font-size: 2.8em;
    color: #F3F4EF;

}
.fællesskab p{
    font-size: 1.8em;
    color: #3C3C3C;
    padding: 2em 3em 0em 0em;
}

.kontakt {
    background-color: #425348;
    border-radius: 5em;
    padding: 3.8em;
    margin: 4em 3.5em 3.8em 0em;
    width: 35em;
    height: 40em;
    text-align: center;
    
    
}

.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input{
    display: block;
    font-size: 1.5em;
    width: 80%;
    border-radius: 1em;
    margin: 1.5em 1.5em 1.5em 1.5em;
    padding: 1em;
    border:none;
}

input[type=text], input[type=mail]{
    color: #3C3C3C;
}
input[type=submit]{
    background-color: #779882;
    color: #F3F4EF;
    cursor: pointer;
}